@page
@model POO_3B1_30.Pages.Banco.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Formulario Musica</h1>

<p>
    <a asp-page="Create">Criar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Lançamento
            </th>
            <th>
                Autor
            </th>
            <th>
                Preço
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BancoDTO) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Detalhes</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
